* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #66ff48;
  --light-color: #f4f4f6;
  --dark-color: #111;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #111;
  color: var(--light-color);
}

a {
  text-decoration: none;
  color: var(--light-color);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

header {
  background: var(--dark-color);
  position: fixed;
  top: 0px;
  width: 100%;
}

section {
  display: flex;
  justify-content: center;
  padding-top: 190px;
}

/* Logo */

.logo {
  text-align: center;
}

/* Navbar */

.navbar {
  padding: 0 0 20px;
  display: flex;
  justify-content: center;
}

.navbar ul {
  display: flex;
}

.navbar ul li a {
  padding: 10px 20px;
  display: block;
  font-weight: 600;
  transition: 0.5s;
  text-transform: uppercase;
}

.navbar ul li a:hover {
  color: var(--primary-color);
}

.navbar ul li a i {
  margin-right: 10px;
}

.navbar ul li:last-child a {
  margin-left: 10px;
}

#music iframe {
  margin: 0 20px;
}

/* Utility Classes */
/* .container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
} */

/* Buttons */

/* .btn {
  display: inline-block;
  padding: 13px 20px;
  background: var(--light-color);
  color: #333;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-dark {
  background-color: var(--dark-color);
  color: #fff;
}

.btn-block {
  display: block;
  width: 100%;
} */
