* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #66ff48;
  --light-color: #f4f4f6;
  --dark-color: #111;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--light-color);
  background-image: url("assets/Paralax/background.gif");
}

a {
  text-decoration: none;
  color: var(--light-color);
}

ul {
  list-style: none;
}

img {
  max-width: 100vw;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 0;
}

/* Navbar */

.navbar {
  /* padding: 0 0 20px; */
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  max-width: 100vw;
}

.navbar ul {
  display: flex;
}

.navbar ul li a {
  /* padding: 10px 20px; */
  display: block;
  font-weight: 600;
  transition: 0.5s;
  text-transform: uppercase;
}

.navbar ul li a i {
  margin-right: 10px;
}

.navbar ul li:last-child a {
  margin-left: 10px;
}

.navbar img {
  height: min(60px, 12vw);
}

/* Parallax */

.wrapper {
  height: 100vh;
  perspective: 100px;
  perspective-origin: center 80%;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200%;
  transform-style: preserve-3d;
  z-index: -1;
}

.content {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
}

.parallax > img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

#layer-0 {
  transform: translateZ(-100px) scale(2);
}

#layer-1 {
  transform: translateZ(-95px) scale(1.95);
}

#layer-2 {
  transform: translateZ(-85px) scale(1.85);
}

#layer-3 {
  transform: translateZ(-70px) scale(1.7);
}

#layer-4 {
  transform: translateZ(-75px) scale(1.75);
}

#layer-5 {
  transform: translateZ(-80px) scale(1.8);
}

#layer-6 {
  transform: translateZ(-65px) scale(1.65);
}

#layer-7 {
  transform: translateZ(-50px) scale(1.5);
}

#layer-8 {
  transform: translateZ(-40px) scale(1.4);
}

/* Custom */

#music iframe {
  margin: 0 20px;
}

#contact {
  background-color: #111;
}
